body {
    background-color: #e0e0e0;
}

.dynamic-content {
    overflow    : auto;
}

.master-content {
    height   : 100%;
    overflow : auto;
}

.icon-close > svg {
    fill: white;
}

.icon > svg {
  fill: grey;
}

a {
  color: #ea4c88;
  outline: 0;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}
