<div>
    <md-tabs>
        <md-tab label="menu 1">
            <md-card style="margin-top: 30px">
                asdasdas
            </md-card>
        </md-tab>
        <md-tab label="menu 2">
            <md-card style="margin-top: 30px">
                asdasdas
            </md-card>
        </md-tab>
        <md-tab label="menu 3">
            <md-card style="margin-top: 30px">
                asdasdas
            </md-card>
        </md-tab>
        <md-tab label="menu 4">
            <md-card style="margin-top: 30px">
                asdasdas
            </md-card>
        </md-tab>
    </md-tabs>
</div>

