 <md-progress-linear ng-show="isSaving" md-mode="indeterminate"></md-progress-linear>


    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>solicitação de empresa</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-svg-src="../../../../assets/icons/icon_close.svg" aria-label="Close dialog" class="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>


    <md-content layout-padding>
    
        <div layout="row">
            <md-input-container flex="50">
                <label>Código de estágio</label>
                <input ng-disabled="true" type="text" ng-model="internship._id">
            </md-input-container>

            <div flex="10"></div>

            <md-input-container flex="50">
                <label>Empresa</label>
                <input ng-disabled="true" type="text" ng-model="internship.company.name">
            </md-input-container>

            <div flex="10"></div>

            <md-input-container flex="50">
                <label>Aluno</label>
                <input ng-disabled="true" type="text" ng-model="internship.student.name">
            </md-input-container>
        </div>

        <div layout="row">
            <md-input-container flex="50">
                <label>Curso</label>
                <input ng-disabled="true" type="text" ng-model="internship.class.name">
            </md-input-container>

            <div flex="10"></div>

            <md-input-container flex="50">
                <label>Começo</label>
                <input ng-disabled="true" type="text" ng-model="internship.begin">
            </md-input-container>

            <div flex="10"></div>

            <md-input-container flex="50">
                <label>Termino</label>
                <input ng-disabled="true" type="text" ng-model="internship.end">
            </md-input-container>
        </div>

        <div layout="row">
            <md-input-container flex="50">
                <label>Status</label>
                <input ng-disabled="true" type="text" ng-model="internship.status">
            </md-input-container>

            <div flex="10"></div>

            <md-input-container flex="50">
                <label>Responsável</label>
                <input ng-disabled="true" type="text" ng-model="internship.company.responsable.name">
            </md-input-container>

            <div flex="10"></div>

            <md-input-container flex="50">
                <label>Email Responsável</label>
                <input ng-disabled="true" type="text" ng-model="internship.company.responsable.email">
            </md-input-container>
        </div>
    
    </md-content>

