 <md-progress-linear ng-show="isLoadingCompany" md-mode="indeterminate"></md-progress-linear>
 <md-content layout-padding>

     <h2>{{ isEditing === true ? 'Alterar empresa' : 'Criar empresa' }}</h2>
    <form name="companyForm">

        <div layout="row">
            <md-input-container flex="50">
                <label>Nome</label>
                <input required name="name" ng-model="company.name">
                <div ng-messages="companyForm.name.$error">
                    <div ng-message="required">Este campo é obrigatório.</div>
                </div>
            </md-input-container>

            <md-input-container flex="50" style="margin-left: 30px">
                <label>CNPJ</label>
                <input required name="cnpj" ng-model="company.cnpj">
                <div ng-messages="companyForm.cnpj.$error">
                    <div ng-message="required">Este campo é obrigatório.</div>
                </div>
            </md-input-container>
        </div>

        <div layout="row">
            <md-input-container flex="30">
                <label>Email</label>
                <input required type="email" name="email" ng-model="company.email"
                        minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                <div ng-messages="companyForm.email.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    O campo deve conter um email válido'
                    </div>
                </div>
            </md-input-container>
            
            <md-input-container flex="30" style="margin-left: 30px">
                <label>Telefone</label>
                <input required name="phone" ng-model="company.phone">
                <div ng-messages="companyForm.phone.$error">
                    <div ng-message="required">Este campo é obrigatório.</div>
                </div>
            </md-input-container>
            
            <md-input-container style="margin-left: 30px">
                <md-tooltip md-direction="bottom">
                    {{ company.active === true ? 'desativar' : 'ativar'}}
                </md-tooltip>
                <md-switch ng-model="companyForm.active" aria-label="Switch 1"></md-switch>
            </md-input-container>
        </div>

        <div>
            <md-button ng-click="save(company)" type="submit" class="md-primary md-raised">Salvar</md-button>
        </div>

    </form>
</md-content>