<md-content flex="100" style="min-width: 800px; margin: auto; max-width: 93%; margin-top: 50px">

    <!-- PESQUISA -->
    <div style="height: 80px; background-color: white !important; box-shadow:0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)">
        

        <md-input-container style="margin-bottom: 0; margin-right: 2%; margin-left:3%; width:20%">
            <md-icon class="icon" md-svg-icon="../../../assets/icons/icon_search.svg"></md-icon>
            <input ng-model="tableParams.query" type="text" placeholder="Nome" />
        </md-input-container>

        <div style="display: inline-block; width: 71%;">
            <md-button style="margin-bottom: 22px;" ng-click="search(tableParams.query)" class="md-raised md-primary no-ripple">Pesquisar</md-button>
        </div>
        
    </div>

    <!-- TABLE CONTAINER --> 
    <md-card style="margin: auto; margin-top: 12px;">

        <md-table-container>
            <table md-table>
                <thead md-head md-order="tableParams.sort" md-on-reorder="reorderTable">
                    <tr md-row>
                        <th md-column md-order-by="name">Nome</th>
                        <th md-column md-order-by="cnpj">CNPJ</th>
                        <th md-column md-order-by="email">Email</th>
                        <th md-column md-order-by="phone">Telefone</th>
                        <th md-column md-order-by="status">Status</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th >
                            <md-progress-linear style="position: absolute" layout="row" md-mode="indeterminate" ng-show="isLoadingCompanies" class="md-accent"></md-progress-linear>
                        </th>
                    </tr>
                    </thead>
                <tbody md-body>
                <tr md-row md-select="company" ng-repeat="company in companies track by $index" ng-click="showDialog(company)" style="cursor: pointer">
                    <td md-cell>{{company.name}}</td>
                    <td md-cell>{{company.cnpj}}</td>
                    <td md-cell>{{company.email}}</td>
                    <td md-cell>{{company.phone}}</td>
                    <td md-cell>{{company.status}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="tableParams.limit" md-page="tableParams.page" md-limit-options="[5, 10, 15]" md-total="{{tableParams.total}}"  md-page-select></md-table-pagination>
    </md-card>

</md-content>